
<div id="movie-page">
    <a href="/movies">Go to movies</a>
    <div class="container">
        <div>
            <h1>{{movie.title}}</h1>
                <p>Genre: {{movie.genre}}</p>
                <p>Director: {{movie.director}}</p>
                <p>Release Year: {{movie.release_year}}</p> 
                <div class="actions">
                    <a href="/movies/edit/{{movie.id}}">Edit</a>
                    <form action="/movies/remove/{{movie.id}}" method="post">
                        <input type="submit" value="Delete">
                    </form>
                </div>
        </div>
    </div>
</div>